<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIil-5a8SgxAEVLksGmVcEM6kvtLI3brQ</string>
	<key>GCM_SENDER_ID</key>
	<string>388466167622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phoneAndGoogleMaps</string>
	<key>PROJECT_ID</key>
	<string>flutter-maps-phonenumber</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-maps-phonenumber.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388466167622:ios:051b0780a4a98a55fb5f47</string>
</dict>
</plist>